
/* colors and fonts */ 
body{
	background-color: rgb(255, 255, 255);
	color: #264653;
	font-family: 'Abril Fatface', serif;
}

h1, h2, h3 { 
	font-family:'Abril Fatface', serif;
	background: white;
    	padding: 30px;
    	margin: 40px;
    	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    	border-radius: 10px; 
    	text-align: center;

font-family: 'Abril Fatface', serif;}

h1{ 
	color: #E76F51;	
	font-size: 50px; 

}
	
h2{ 
		font-family: 'Abril Fatface',serif;
		color:#E76F51;
		text-align: center;
 }
 

}
@media (max-width: 500px) {
	.container {
		width:400px;
	}
}
@media (max-width: 760px) {
	.container {
		width: 600px;
	}
.img-circle{ display: block;
	border-radius: 80%;

}

.btn-blue {
	background-color: #2A9D8F;
	color: white;
	padding: 20px 20px;
	border-radius:10px;
}


